{% extends "base_reqistration.html" %}

{% load i18n %}

{% block registration_content %}{% trans "Login Cancelled" %}{% endblock %}

{% block registration_content %}
    <div class="col-md-offset-4 col-md-5">
        <h1>{% trans "Login Cancelled" %}</h1>
        {% url 'account_login' as login_url %}
        <p>{% blocktrans %}You decided to cancel logging in to our site using
            one of your existing accounts. If this was a mistake, please
            proceed to <a href="{{ login_url }}">sign in</a>
            .{% endblocktrans %}</p>
    </div>
{% endblock %}
