{% extends "base_reqistration.html" %}
{% load i18n %}
{% load account socialaccount bootstrap3 %}

{% block registration_title %}{% trans "Sign Out" %}{% endblock %}

{% block registration_content %}
    <div class="col-md-offset-4 col-md-5">
        <div class="registration_container">
            <h1>{% trans "Sign Out" %}</h1>

            <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans 'Out' %}</button>
            </form>
        </div>
    </div>
{% endblock %}
