{% extends "base_reqistration.html" %}
{% load i18n %}
{% load account socialaccount bootstrap3 %}

{% block registration_title %}{% trans "Change Password" %}{% endblock %}

{% block registration_content %}
    <div class="col-md-offset-4 col-md-5">
        <div class="registration_container">
            <h1>{% trans "Change Password" %}</h1>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary btn-xs" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

