{% extends "base_reqistration.html" %}
{% load i18n %}
{% load account socialaccount bootstrap3 %}

{% block registration_title %}{% trans "Set Password" %}{% endblock %}

{% block registration_content %}
    <div class="col-md-offset-4 col-md-5">
        <div class="registration_container">
            <h1>{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-primary btn-xs" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
{% endblock %}




