{% extends "base_reqistration.html" %}
{% load i18n %}
{% load account socialaccount bootstrap3 %}

{% block registration_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block registration_content %}
    <div class="col-md-offset-4 col-md-5">
        <div class="registration_container">
            <h1>{% trans "Verify Your E-mail Address" %}</h1>
            <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the
                signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}





