{% load i18n staticfiles bootstrap3 %}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-users"></i>
                <span>{% trans 'Accounting' %}!</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_info">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}" width="30" height="30" class="img-responsive img-circle"
                         alt="">
                {% else %}
                    <img src="{% static 'img/index.jpeg' %}" width="30" height="30" class="img-responsive img-circle"
                         alt="">
                {% endif %}
                <span>{% trans 'Welcome,' %}</span>
                <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->
        <br/>
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>{% trans 'Menu' %}</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-user"></i> {% trans 'Profile' %} <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{% url 'cabinet:profile:personal-data' %}">{% trans 'Personal data' %}</a></li>
                            <li>
                                <a href="{% url 'cabinet:profile:session-settings' %}">{% trans 'Session settings' %}</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-users"></i> {% trans 'Managing' %} <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a target="_blank" href="{% url 'students_list' %}">{% trans 'Accounting service' %}</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>