{% extends 'base_cabinet_.html' %}
{% load staticfiles bootstrap3 i18n %}

{% block meta_title %}{% trans 'Exams' %}{% endblock %}

{% block content %}
    <div class="row" id="count-visits-row">
        <div class="col-xs-12" id="count-visits-xs">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>{% trans 'Exams list' %}</h2></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-5">
                            <fieldset>
                                <legend>{% trans 'Add Exam form' %}</legend>

                                <form method="post" action="{% url 'exams_add' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_field form.discipline_name %}
                                    {% bootstrap_field form.date %}
                                    {% bootstrap_field form.teacher_name %}
                                    {% bootstrap_field form.group_id %}

                                    <!-- To do buttons with bootstrap3 -->
                                    <div class="row">
                                        <div class="col-xs-offset-2 col-xs-3">
                                            <button type="submit" name="add_button" class="btn btn-primary">{% trans 'Save' %}
                                            </button>
                                        </div>
                                        <div class="col-xs-offset-1 col-xs-3">
                                            <button type="submit" name="cancel_button" class="btn btn-link">{% trans 'Cancel' %}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}