 <!--Navigation bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home-page' %}">Manage<span>ment BASE</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'home-page' %}">Home</a></li>
          <li><a href="{% url 'team-page' %}">Team</a></li>
          <li><a href="#">Contact us</a></li>

          <li><a href="{% url 'account_login' %}" data-target="#login" data-toggle="modal">Sign in</a></li>
          <li class="btn-trial"><a href="{% url 'account_signup' %}">Sign Up!</a></li>
               <li class="btn-trial"><a href="{% url 'account_logout' %}">out!</a></li>
        </ul>
        </div>
      </div>
    </nav>
    <!--/ Navigation bar-->