<!-- Load static files, before need customize DIRS, for children's templates need do this also -->
{% load i18n %}
{% load  staticfiles %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Alternative for some files - CDN repositories -->
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css"
          integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ ABSOLUTE_URL }}{% static 'css/main.css' %}">
    <!-- For future meta title of children's page -->
    <title>{% trans 'Accounting Service' %}{% block meta_title %} {% endblock %}</title>
    <meta name="description" value="{% trans 'App to manage students' %}">
    <!-- Extra css for children's templates -->
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
<!--------- Start Container ----------->
<div class="container">
    <!--------- Start Header --------->
    <div class="row" id="header">
        <!----- Logo ----->
        <div class="col-xs-6">
            <h1>
                <!-- We can change logo in other template, need only override this block -->
                {% block logo %}
                    {% trans "Accounting service" %}
                {% endblock %}
            </h1>
        </div>
        <!----- Group menu ----->
        <div class="col-xs-4" id="group-selector">
            <!-- We can change group_menu in other template, need only override this block -->
            {% block group_menu %}
                <strong>{% trans 'Group' %}</strong>
                <select>
                    <option value="">{% trans 'All students' %}</option>
                    {% for group in GROUPS %}
                        <option value="{{ group.id }}" {% if group.selected %}selected='2'{% endif %}>
                            {{ group.title }}{% if group.leader %},{{ group.leader }}{% endif %}
                        </option>
                    {% endfor %}
                </select>
            {% endblock %}
        </div>
    <div class="col-md-2" id="language-bar">
        {% include 'snippets/language.html' %}

    </div>
    </div>
    <!------ End Header ------>
    <!------ Start Subheader ------>
    <div class="row" id="sub-header">
        <div class="col-xs-12">
            {% with request.resolver_match.url_name as url_name %}
                <ul class="nav nav-tabs" role="tablist">
                    <li class="{% if url_name == 'students_list' %}active{% endif %}" data-url="{{ url_name }}">
                        <a class="menu_item_url" href="{% url 'students_list' %}">{%  trans 'Students' %}</a>
                    </li>
                    <li class="{% if url_name == 'journal' %}active{% endif %}">
                        <a class="menu_item_url" href="{% url 'journal' %}">{% trans 'Journal' %}</a>
                    </li>
                    <li class="{% if url_name == 'groups_list' %}active{% endif %}">
                        <a class="menu_item_url" href="{% url 'groups_list' %}">{% trans 'Group' %}</a>
                    </li>
                    <li class="{% if url_name == 'exams_list' %}active{% endif %}">
                        <a class="menu_item_url" href="{% url 'exams_list' %}">{% trans 'Exams' %}</a>
                    </li>
                    <li class="{% if url_name == 'contact_form' %}active{% endif %}">
                        <a class="menu_item_url" href="{% url 'contact-admin' %}">{% trans 'Contact us' %}</a>
                    </li>
                </ul>
            {% endwith %}
        </div>
    </div>
    <!------ End Subheader ------>


    <!-- Start Content Columns -->
    <div class="row" id="content-columns">
        <div class="col-xs-12" id="content-column">

            {% block status_message %}
            {% endblock %}

            <h2>{% block title %}{% endblock title %}</h2>
            {% block content %}
            {% endblock %}

        </div>


    </div>
    <!-- Main content for future different pages -->


    <!------ Start Footer ------>
    <div class="row" id="footer">
        <div class="col-xs-12 text-center">
            <!-- We can override footer if need. -->
            {% block footer %}
                &copy;2016 {% trans 'Accounting service' %}
            {% endblock %}
        </div>
    </div>
</div>
<!------ End Footer ------>
<!-- Modal Boilerplate -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
            </div>
            <div class="modal-body"><!-- --></div>
            <div class="modal-footer"><!-- --></div>
        </div>
    </div>
</div>

<!------ Javascripts Section ------>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
<script src="{{ ABSOLUTE_URL }}{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>


</body>
</html>