{% extends 'base_cabinet_.html' %}
{% load staticfiles i18n %}
{% block meta_title %}{% trans 'Groups' %}{% endblock %}


{% block status_message %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Start students group main block -->
    <div class="row" id="students-group-row">
        <div class="col-xs-12" id="students-group-xs">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>{% trans 'Groups' %}</h2></div>
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                        {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                            <thead>
                            <tr>
                                <th class="text-primary">№</th>
                                <th>
                                    <a href="{% url 'groups_list' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                        {% trans 'Name' %}
                                        {% if order_by == 'title' and reverse != '1' %}&uarr;

                                            {% elif order_by == 'title' and reverse == '1' %}&darr;

                                        {% endif %}
                                    </a>
                                </th>
                                <th>
                                    <a href="{% url 'groups_list' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                        {% trans 'Leader' %}
                                        {% if order_by == 'leader' and reverse != '1' %}&uarr;

                                            {% elif order_by == 'leader' and reverse == '1' %}&darr;

                                        {% endif %}
                                    </a>
                                </th>
                                <th class="text-primary">{% trans 'Actions' %}</th>
                            </tr>
                            </thead>
                        {% endwith %}
                        <tbody>
                        {% for key in object_list %}
                            <tr>
                                <td>
                                    {% if is_paginated %}

                                        {{ page_obj.start_index|add:forloop.counter|add:'-1' }}

                                    {% else %}

                                        {{ forloop.counter }}

                                    {% endif %}
                                </td>
                                <td>{{ key.title }}</td>
                                <td>{{ key.leader }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button"
                                                data-toggle="dropdown">{% trans 'Action' %}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="{% url 'groups_edit' key.pk %}">{% trans 'Edit' %}</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1"
                                                   href="{% url 'groups_delete' key.pk %}">{% trans 'Delete' %}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-right">
                        <a href="{% url 'groups_add' %}" class="btn btn-primary">{% trans 'Add new group' %}</a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                {% include 'snippets/pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}